body{
    margin: 0;
    padding: 0;
    background-image: url("media/background.jpg");
    background-size: 100%;
    backdrop-filter: blur(5px);
}

.headers {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 20px;
}

.fonts {
    margin-top: 0px;
    font-size: 28px;
    margin-bottom: 0px;
}

.line {
    margin-top: 20px;
    width: 700px;
    height: 1px;
}

.pictures {
    margin-top: 20px;
    display: grid;
    width: 1000px;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto); 
}

.parts {
    width: 200px;
    height: 200px;
}

.high-part {
    width: 200px;
    height: 400px;
}

.box1 {
    grid-column: 2;
    grid-row: 1/3;
}

.box2 {
    grid-column: 3/5;
    grid-row: 2/4;
    background-color: orange;
}

.inbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inbox_part {
    height:200px;
}

.inbox_part2 {
    height:200px;
    grid-column: 1/3;
    grid-row: 2;
}

#bottom {
    display: table-cell;
    vertical-align: bottom;
}

@media (max-width: 1024px) {
    .pictures {
        margin-top: 20px;
        display: grid;
        width: 500px;
        height: 300px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .parts {
        width: 100px;
        height: 100px;
    }
    .new_parts {
        width: 100px;
        height: 100px;
    }
    .high-part {
        width: 100px;
        height: 200px;
    }
    .inbox_part {
        height: 100px;
    }
    .inbox_part2 {
        height:100px;
        grid-column: 1/3;
        grid-row: 2;
    }
}

@media (max-width: 480px) {
    .pictures {
        /* margin-top: 20px; */
        display: grid;
        width: 300px;
        height: 500px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
    }
    .parts {
        width: 100px;
        height: 100px;
        grid-column: 3;
        grid-row: 1;
    }
    .high-part {
        width: 100px;
        height: 200px;
    }
    .box1 {
        height: 200px;
        grid-column: 1;
        grid-row: 1/2;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .box2 {
        width: 200px;
        height: 200px;
        grid-column: 2/4;
        grid-row: 1/2;
        background-color: orange;
    }
}

@media (max-width: 767px) {
    .line {
        margin-top: 20px;
        width: 300px;
        height: 1px;
    }
    .headers {
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 20px;
        /* background-color: black; */
    }
    .fonts {
        margin-top: 0px;
        font-size: 17px;
        margin-bottom: 0px;
    }
}
.footer {
    margin-top: 20px;
    align-self: center;
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer_part {
    padding:20px;
    padding-top: 0px;
}

.buttons {
    margin: 3px;
    background-color: yellow;
    border-color: yellow;
}

@media (max-width: 320px) {
    .footer {
        margin-top: 20px;
        align-self: center;
        display: grid;
        background-color: black;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer_part {
        padding:20px;
        padding-top: 0px;
    }
    .footer-class1 {
        width: 50%;
        background-color: black;
    }
    .footer-class {
        /* grid-column: 1/2; */
        width: 100%;
        grid-row: 2;
        background-color: black;
    }
}